sudo: false

dist: trusty

language: python

python:
  - 2.7
  - 3.6

cache:
  - pip

notifications:
  email: false

branches:
  only:
    - master

before_install:
  # install miniconda
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

install:
  - conda create --name=fcn python=$TRAVIS_PYTHON_VERSION -q -y
  - conda install -c pytorch pytorch torchvision -q -y
  - pip install .

before_script:
  - pip install hacking pytest

script:
  - flake8 .
  - pytest -vs tests

after_success:
  - rm -f dist/*.tar.gz
  - python setup.py sdist
  - pip install dist/*.tar.gz
